In [1]:
import pandas as pd
import numpy as np

In [2]:
tdf = pd.DataFrame([['a','b','c'],['b','c','d'],['a','b','c']], columns=['a1','a2','a3'])

In [3]:
def encoder(df, method='one-hot'):
    assert method=='one-hot', f'{method} has not been implemented'
    feature_list = []
    for col in tdf.columns.to_list():
        feature_list.extend([col + '_' + i for i in sorted(list(set(tdf[col])))])
    
    ret_df = pd.DataFrame(0, index=np.arange(len(tdf)), columns=feature_list)
    
    for col in tdf.columns.to_list():
        for n, val in enumerate(tdf[col]):
            ret_df[col + '_' + val][n] = 1
    return ret_df

In [4]:
tdf

  a1 a2 a3
0  a  b  c
1  b  c  d
2  a  b  c

In [5]:
encoder(tdf)

   a1_a  a1_b  a2_b  a2_c  a3_c  a3_d
0     1     0     1     0     1     0
1     0     1     0     1     0     1
2     1     0     1     0     1     0